.header
  .header__title
    %h1 blue blog
.contents
  .contents__top
    .contents__top-popularity
      %ul
        %li
        %li
    .contents__top-recommend
      %ul
        %li
        %li
  .contents__side
    .contents__side-profile

    .contents__side-input
      %input
  .contents__main


.footer