.header
  .header__title
    %h1 blue blog
.contents
  .contents__top
    .contents__top-popularity
      %h2 人気記事！
      %ul
        %li
        %li
    .contents__top-recommend
      %h2 おすすめ記事！
      %ul
        %li
        %li
  .contents__side
    .contents__side-profile
      %img
    .contents__side-input
      %input
  .contents__main
.footer
  %h2 blue blog