.header{
  background-color: #8EB8FF;
  height: 80px;
  width: 100%;
  &__title{
    color: blue;
    h1{
      font-family: 'Arial Rounded MT Bold',sans-serif;
      line-height: 70px;
      padding-left: 40px;
      margin-top: 0;
      font-size: 40px;
    }
  }
}

.contents{
  height: 100%;
  width: 100%;
  &__top{
    height: 300px;
    padding: 40px;
    display: flex;
    &-popularity{
      width: calc(100% / 2);
      height: 300px;
      border: 2px solid green;
      @include subh2;
      @include contents-top;
    }
    &-recommend{
      width: calc(100% / 2);
      height: 300px;
      border: 2px solid red;
      margin-left: 50px;
      @include subh2;
      @include contents-top;
    }
  }
  &__side{
    height: 60vh;
    width: 300px;
    background-color: black;
    margin-left: 40px;
    margin-top: 70px;
    float: left;
    &-profile{
      width: 15vw;
      height: 200px;
      border: 1px solid white;
      margin-left: 40px;
      margin-top: 30px;
    }
    &-input{
      width: 15vw;
      height: 20px;
      margin-left: 40px;
    }
  }
  &__main{
    width: 70vw;
    height: 100vh;
    background-color: yellow;
    margin-top: 70px;
    margin-left: 390px;
  }
}

.footer{
  height: 15vh;
  width: 100%;
  background-color: gray;
  bottom: 0;
  opacity: 0.8;
  position: relative;
  h2{
    font-family: 'Arial Rounded MT Bold',sans-serif;
    position: absolute;
    font-size: 30px;
    color: white;
    opacity: 0.6;
    top: 40px;
    right: 40px;
  }
}
