.header{
  background-color: #8EB8FF;
  height: 80px;
  width: 100%;
  position: relative;
  font-family: 'Arial Rounded MT Bold',sans-serif;
  &__title{
    color: blue;
    .main__title{
      line-height: 70px;
      padding-left: 40px;
      margin-top: 0;
      font-size: 40px;
    }
  }
  .post{
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
}

.contents{
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  &__top{
    height: 300px;
    padding: 40px;
    display: flex;
    &-popularity{
      width: calc(100% / 2);
      height: 300px;
      border: 2px solid green;
      @include subh2;
      @include contents-top;
      background-image: url("/image/photo-1492158244976-29b84ba93025.jpeg");
      background-size: 100%;
    }
    &-recommend{
      width: calc(100% / 2);
      height: 300px;
      border: 2px solid red;
      margin-left: 50px;
      @include subh2;
      @include contents-top;
      background-image: url("/image/work-stations-plus-espresso.jpg");
      background-size: 100%;
      background-position: right 20% bottom 30%;
    }
  }
  &__side{
    height: 60vh;
    width: 300px;
    background-color: black;
    margin-left: 40px;
    margin-top: 70px;
    float: left;
    &-profile{
      width: 15vw;
      height: 200px;
      border: 1px solid white;
      margin-left: 40px;
      margin-top: 30px;
    }
    &-input{
      width: 15vw;
      height: 20px;
      margin-left: 40px;
    }
  }
  &__main{
    width: 70vw;
    height: 100vh;
    background-image: url("/image/photo-1517842645767-c639042777db.jpeg");
    background-size: 70vw 100vh;
    margin-top: 70px;
    margin-left: 390px;
    margin-bottom: 50px;
    opacity: 0.7;
    text-align: center;
    position: relative;
    &-article{
      width: 40vw;
      margin: 0 auto;
      padding-top: 100px;
      margin-bottom: 60px;
      margin-top: 30px;
      background-color: blue;
      display: flex;
      flex-direction: column;
      i{
        font-size: 100px;
      }
      &-title{

      }
    }
  }
}

.footer{
  height: 15vh;
  width: 100%;
  background-color: gray;
  bottom: 0;
  opacity: 0.8;
  position: relative;
  .sub__title{
    font-family: 'Arial Rounded MT Bold',sans-serif;
    position: absolute;
    font-size: 30px;
    color: white;
    opacity: 0.6;
    top: 40px;
    right: 40px;
  }
}
