.header{
  background-color: #00d9ff;
  height: 80px;
  width: 100%;
  position: relative;
  font-family: 'Arial Rounded MT Bold',sans-serif;
  &__title{
    color: blue;
    .main__title{
      line-height: 70px;
      padding-left: 40px;
      margin-top: 0;
      font-size: 40px;
    }
  }
  .post{
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .logout{
    position: absolute;
    right: 150px;
    top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
}

.contents{
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  &__top{
    height: 300px;
    padding: 40px;
    display: flex;
    &-popularity{
      width: calc(100% / 2);
      height: 300px;
      border: 2px solid blue;
      @include subh2;
      @include contents-top;
      background-image: url("/image/photo-1492158244976-29b84ba93025.jpeg");
      background-size: 100%;
      opacity: 0.7;
    }
    &-recommend{
      width: 100%;
      height: 300px;
      border: 2px solid #4c6cb3;
      // margin-left: 50px;
      display: flex;
      padding-left: 20px;
      @include subh2;
      @include contents-top;
      background-image: url("/image/work-stations-plus-espresso.jpg");
      background-size: 100%;
      background-position: right 20% bottom 30%;
      opacity: 0.7;
      h2{
        padding-left: 20px;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
      }
      &-article{
        text-align: center;
        padding-top: 30px;
        i{
          font-size: 60px;
          padding-bottom: 30px;
        }
        &-title{
          padding-bottom: 20px;
          font-size: 30px;
        }
        &-subtitle{
          font-size: 20px;
        }
      }
    }
  }
  &__side{
    height: 80vh;
    width: 300px;
    background-color: #b0e0e6;
    margin-left: 40px;
    margin-top: 70px;
    float: left;
    color: #000080;
    letter-spacing: 3px;
    &-profile{
      width: 15vw;
      height: 200px;
      margin-left: 40px;
      margin-top: 30px;
      text-align: center;
      &-image{
        height: 200px;
        width: 15vw;
        margin-bottom: 10px;
      }
      h1{
        font-size: 22px;
        margin-top: -20px;
        margin-bottom: 10px;
      }
      h2{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 25px;
      }
      p{
        margin-top: 30px;
      }
    &-portfolio{
      font-size: 20px;
      color: blue;
      border-bottom:1px solid blue;
    }
    }
    &-input{
      width: 15vw;
      height: 20px;
      margin-top: 300px;
      margin-left: 40px;
    }
  }
  &__main{
    width: 70vw;
    height: 100vh;
    background-image: url("/image/photo-1517842645767-c639042777db.jpeg");
    background-size: 70vw 100vh;
    margin-top: 70px;
    margin-left: 390px;
    margin-bottom: 50px;
    opacity: 0.7;
    text-align: center;
    border: 2px solid #1e90ff;
    &-article{
      width: 50vw;
      margin: 0 auto;
      padding: 30px 0px;
      margin-bottom: 60px;
      margin-top: 5px;
      background-color: #1e90ff;
      display: flex;
      // flex-direction: column;
      position: relative;
      top: 50px;
      color: yellow;
      i{
        font-size: 100px;
        padding-left: 60px;
      }
      &-title{
        padding-top: 35px;
        padding-left: 30px;
        font-size: 25px;
        font-family: 'Osaka',sans-serif;
        font-weight: bold;
      }
      &-subtitle{
        padding-top: 42px;
        padding-left: 40px;
        font-size: 15px;
        font-family: 'HanziPen SC',sans-serif;
        font-weight: 1000px;
      }
    }
  }
}

.footer{
  height: 15vh;
  width: 100%;
  background-color: #002b33;
  bottom: 0;
  opacity: 0.8;
  position: relative;
  .sub__title{
    font-family: 'Arial Rounded MT Bold',sans-serif;
    position: absolute;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    top: 40px;
    right: 40px;
  }
}
